.sectionSlider {
    height: calc(100vh + 1.25rem);
    width: 100%;
    position: relative;
    overflow: hidden;
    background-color: #fff;
}

.sliderContainer {
    height: 100vh;
    max-width: 1920px;
    margin: auto;
    background-image: url("/logo.png");
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 40%;
    background-size: 45%;
}

.corner {
    position: absolute;
    width: 50px;
    height: 50px;
    border-color: black;
    border-style: solid;
    border-width: 0;
}
.top {
    top: 0;
    border-top-width: 2px;
    margin-top: 3rem;
}
.bottom {
    bottom: 0;
    border-bottom-width: 2px;
    margin-bottom: 3rem;
}
.left {
    left: 0;
    border-left-width: 2px;
    margin-left: 8rem
}
.right {
    right: 0;
    border-right-width: 2px;
    margin-right: 8rem;
}

.sectionSlider .bottom {
    margin-bottom: calc(3rem + 1.25rem);
}

.sectionSolution .bottom {
    margin-bottom: calc(3rem + 1.25rem);
}

.borderWhite {
    border-color: white;
}

.sectionSolution {
    position: relative;
    display: flex;
    min-height: 100vh;
    overflow: hidden;
    background: linear-gradient(180deg, #171615 0%, #241A16 100%);
    border-radius: 20px 20px 0 0;
    padding-bottom: 1.25rem;
    margin-top: -1.25rem;
}

.sectionContent {
    flex: 1;
    padding-left: 8rem;
    padding-right: 8rem;
}

.test2 {
    position: relative;
    display: flex;
    flex-direction: column;
    height: calc(100% - 6rem);
    min-height: 1000px;
    margin: 3rem 6rem 3rem 6rem;
}
.test3 {
    flex: 1;
    display: flex;
    z-index: 10;
    margin: 6rem 0;
}

.miaou {
    position: absolute;
    top: -2rem;
    left: 0;
    display: flex;
    height: calc(100% + 5rem);
    width: 100%;
}

.test3, .miaou {
    gap: 1rem;
}

.test2 h2 {
    width: 100%;
    height: min-content;
    z-index: 10;
}

.content1 {
    position: relative;
    height: 100%;
    flex: 1;
    align-self: flex-start;
    padding-bottom: 3rem;
    color: white;
}

.content2 {
    flex: 1.5;
    align-self: center;
    color: white;
}

.content3 {
    flex: 1;
    align-self: flex-end;
    color: white;
}

:is(.content1, .content2, .content3) :is(p, h3){
    padding: 0 1rem;
    max-width: 270px;
    margin: auto;
}

:is(.content1, .content2, .content3) h3{
    color: #E7E7E7;
    font-family: Sora, sans-serif;
    font-size : clamp(1.5rem, 2vw, 2.25rem);
    font-weight: 600;
}

:is(.content1, .content2, .content3) p {
    margin-top: 1rem;
    color: #E7E7E7;
    font-family: Sora, sans-serif;
    font-size : clamp(0.6rem, 1.6vw, 0.8rem);
    font-weight: 300;
}

.content1 button {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    color: #FFF;
    text-align: center;
    font-family: Sora, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: uppercase;
    padding: 0.5rem 2rem 0.5rem 1rem;
    background-color: #d6ffa8;
    background-size: 100%;
    z-index: 10;
    clip-path: polygon(.31% 9.836%,.31% 9.836%,.33% 8.507%,.389% 7.245%,.482% 6.069%,.608% 4.995%,.763% 4.04%,.943% 3.221%,1.146% 2.554%,1.368% 2.057%,1.606% 1.747%,1.858% 1.639%,98.452% 1.639%,98.452% 1.639%,98.703% 1.747%,98.941% 2.057%,99.163% 2.554%,99.366% 3.221%,99.547% 4.04%,99.701% 4.995%,99.827% 6.069%,99.921% 7.245%,99.98% 8.507%,100% 9.836%,100% 46.542%,100% 46.542%,99.995% 47.221%,99.979% 47.89%,99.953% 48.547%,99.917% 49.188%,99.872% 49.811%,99.817% 50.412%,99.753% 50.988%,99.679% 51.537%,99.598% 52.054%,99.508% 52.537%,90.339% 97.799%,90.339% 97.799%,90.25% 98.204%,90.156% 98.571%,90.058% 98.898%,89.956% 99.185%,89.85% 99.43%,89.741% 99.633%,89.63% 99.792%,89.516% 99.907%,89.4% 99.977%,89.283% 100%,1.858% 100%,1.858% 100%,1.606% 99.893%,1.368% 99.582%,1.146% 99.085%,.943% 98.418%,.763% 97.599%,.608% 96.644%,.482% 95.57%,.389% 94.394%,.33% 93.133%,.31% 91.803%,.31% 9.836%);
}
.content1 button::before {
    background-color: #241a16;
    content: "";
    height: calc(100% - 2px);
    left: 1px;
    position: absolute;
    top: 1px;
    width: calc(100% - 2px);
    z-index: -1;
    clip-path: polygon(.31% 9.836%,.31% 9.836%,.33% 8.507%,.389% 7.245%,.482% 6.069%,.608% 4.995%,.763% 4.04%,.943% 3.221%,1.146% 2.554%,1.368% 2.057%,1.606% 1.747%,1.858% 1.639%,98.452% 1.639%,98.452% 1.639%,98.703% 1.747%,98.941% 2.057%,99.163% 2.554%,99.366% 3.221%,99.547% 4.04%,99.701% 4.995%,99.827% 6.069%,99.921% 7.245%,99.98% 8.507%,100% 9.836%,100% 46.542%,100% 46.542%,99.995% 47.221%,99.979% 47.89%,99.953% 48.547%,99.917% 49.188%,99.872% 49.811%,99.817% 50.412%,99.753% 50.988%,99.679% 51.537%,99.598% 52.054%,99.508% 52.537%,90.339% 97.799%,90.339% 97.799%,90.25% 98.204%,90.156% 98.571%,90.058% 98.898%,89.956% 99.185%,89.85% 99.43%,89.741% 99.633%,89.63% 99.792%,89.516% 99.907%,89.4% 99.977%,89.283% 100%,1.858% 100%,1.858% 100%,1.606% 99.893%,1.368% 99.582%,1.146% 99.085%,.943% 98.418%,.763% 97.599%,.608% 96.644%,.482% 95.57%,.389% 94.394%,.33% 93.133%,.31% 91.803%,.31% 9.836%);
}

.content1 button::after {
    content: "";
    position: absolute;
    top: 0.5rem;
    right: 0.6rem;
    width: 12px;
    height: 12px;
    transform: rotate(-7deg);
    background-image: url("/arrow.svg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

.content1.colored {
    width: 100%;
    height: 100%;
    border-radius: 20px 0 0 0;
    opacity: 0.98;
    background: #221C18;
}

.content3.colored {
    width: 100%;
    height: 100%;
    border-radius: 0 20px 0 0;
    opacity: 0.98;
    background: #221C18;
}

.content2.colored {
    width: 100%;
    height: 100%;
    opacity: 0.95;
    background: #1D1918;
    mix-blend-mode: luminosity;
}

.sectionSolution h2 {
    margin-left: -2rem;
    margin-top: 3rem;
    color: #FFF;
    text-align: left;
    font-family: Sora, sans-serif;
    font-size : clamp(2rem, 3.5vw, 3.3rem);
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: uppercase;
}

.sectionSolution h1 {
    position: absolute;
    bottom: 0;
    color: #FFFDCB;
    opacity: 0.1;
    filter: blur(20px);
    font-family: Sora, sans-serif;
    font-size : 27vw;
    line-height: 0.4;
    font-weight: 800;
    text-transform: uppercase;
    animation: defilement-rtl 20s infinite linear;
}

@keyframes defilement-rtl {
    0% {
        transform: translate3d(0,0,0);      /* position initiale à droite */
    }
    50% {
        transform: translate3d(-39%,0,0);  /* position finale à gauche */
    }
}

.sectionSolution h2 span {
    color: #84DD1F;
    font-family: Caveat, sans-serif;
    margin-right: clamp(0.6rem, 1.06vw, 1rem);
}

@media screen and (max-width: 769px) {
    .sliderContainer {
        background-size: 110%;
    }
    .left {
        margin-left: 4rem
    }
    .right {
        margin-right: 4rem;
    }
    .sectionContent {
        padding-left: 4rem;
        padding-right: 4rem;
    }
}
@media screen and (max-width: 426px) {
    .sliderContainer {
        background-size: 130%;
    }
    .left {
        margin-left: 2rem
    }
    .right {
        margin-right: 2rem;
    }
    .sectionContent {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}
